<div class="card my-3" >
    <div class="card-header">
      add department
    </div>
    <div style="width:400px ;" class="mt-3">
        <label class="ms-3" for="">id :</label>
        <span class="ms-3 my-2" >{{department?._id}}</span>
        </div>
        <div style="width:400px ;" class="mt-3">
            <label class="ms-3" for="">department name :</label>
            <span class="ms-3 my-2" >{{department?.name}}</span>
            </div>
            <div style="width:400px ;" class="mt-3">
                <label class="ms-3" for="">department location :</label>
                <span class="ms-3 my-2" >{{department?.location}}</span>
                </div>
</div>
