
<div class="card my-3" >
    <div class="card-header">
      departments
    </div>

<table class="table-bordered">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>location</th>
        <th>actions</th>
    </thead>
<tbody>
    <tr *ngFor="let item of departments">
        <td>{{item._id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.location}}</td>
        <td><a [routerLink]="['/departments',item._id,'details']" class="btn btn-primary ms-2">details</a></td>
    </tr>
</tbody>




</table>
</div>
<a class="btn  btn-success" [routerLink]="['/departments/add']" routerLinkActive="router-link-active" >add department</a>

<router-outlet></router-outlet>