<div class="card my-3" >
    <div class="card-header">
      students
    </div>

<table class="table-bordered">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>department id </th>
        <th>actions</th>
    </thead>
<tbody>
    <tr *ngFor="let item of students">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.dept_id}}</td>
        <td><a  [routerLink]="['/students',item.id,'details']" class="btn btn-primary ms-2" >details</a></td>
    </tr>
</tbody>
</table>
</div>
<a class="btn  btn-success" [routerLink]="['/students/add']" routerLinkActive="router-link-active" > add student</a>

<router-outlet></router-outlet>


